# Import Libraries

In [2]:
import pandas as pd
import numpy as np


from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

import pickle
import json

# Data Gathering

In [4]:
df = pd.read_csv('Job_Placement_Data.csv')
df

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [15]:
df["gender"].value_counts().to_dict()
df["gender"].replace({'M': 1, 'F': 0},inplace=True)

In [12]:
df["ssc_percentage"]

0      67.00
1      79.33
2      65.00
3      56.00
4      85.80
       ...
210    80.60
211    58.00
212    67.00
213    74.00
214    62.00
Name: ssc_percentage, Length: 215, dtype: float64

In [14]:
df["ssc_board"].value_counts().to_dict()
df["ssc_board"].replace({'Central': 1, 'Others': 0},inplace=True)

In [16]:
df["hsc_percentage"]

0      91.00
1      78.33
2      68.00
3      52.00
4      73.60
       ...
210    82.00
211    60.00
212    67.00
213    66.00
214    58.00
Name: hsc_percentage, Length: 215, dtype: float64

In [25]:
df["hsc_board"].value_counts().to_dict()
df["hsc_board"].replace({'Others': 0, 'Central': 1},inplace=True)

In [39]:
df["hsc_subject"].value_counts().to_dict()
df = pd.get_dummies(df, columns=['hsc_subject'])

In [20]:
df["degree_percentage"]

0      58.00
1      77.48
2      64.00
3      52.00
4      73.30
       ...
210    77.60
211    72.00
212    73.00
213    58.00
214    53.00
Name: degree_percentage, Length: 215, dtype: float64

In [22]:
df["undergrad_degree"].value_counts().to_dict()

{'Comm&Mgmt': 145, 'Sci&Tech': 59, 'Others': 11}

In [23]:
df = pd.get_dummies(df, columns=['undergrad_degree'])

In [26]:
df["work_experience"].value_counts().to_dict()
df["work_experience"].replace({'No': 0, 'Yes': 1},inplace=True)

In [27]:
df["emp_test_percentage"]

0      55.0
1      86.5
2      75.0
3      66.0
4      96.8
       ...
210    91.0
211    74.0
212    59.0
213    70.0
214    89.0
Name: emp_test_percentage, Length: 215, dtype: float64

In [31]:
df["specialisation"].value_counts().to_dict()
df["specialisation"].replace({'Mkt&Fin': 1, 'Mkt&HR': 0},inplace=True)

In [33]:
df["mba_percent"]

0      58.80
1      66.28
2      57.80
3      59.43
4      55.50
       ...
210    74.49
211    53.62
212    69.72
213    60.23
214    60.22
Name: mba_percent, Length: 215, dtype: float64

In [36]:
df["status"].value_counts().to_dict()
df["status"].replace({'Placed': 1, 'Not Placed': 0},inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   gender                      215 non-null    int64
 1   ssc_percentage              215 non-null    float64
 2   ssc_board                   215 non-null    int64
 3   hsc_percentage              215 non-null    float64
 4   hsc_board                   215 non-null    int64
 5   degree_percentage           215 non-null    float64
 6   work_experience             215 non-null    int64
 7   emp_test_percentage         215 non-null    float64
 8   specialisation              215 non-null    int64
 9   mba_percent                 215 non-null    float64
 10  status                      215 non-null    int64
 11  undergrad_degree_Comm&Mgmt  215 non-null    uint8
 12  undergrad_degree_Others     215 non-null    uint8
 13  undergrad_degree_Sci&Tech   215 non-null    uint8
 14  hsc_subject_Arts            215 non-null    uint8
 15  hsc_subject_Commerce        215 non-null    uint8
 16  hsc_subject_Science         215 non-null    uint8
dtypes: float64(5), int64(6), uint8(6)
memory usage: 19.9 KB

# Scaling

In [ ]:
x = df.drop('charges',axis = 1)

normal_scaler = MinMaxScaler()
array = normal_scaler.fit_transform(x)
dfx = pd.DataFrame(array, columns = x.columns)